// COLOR VARIABLES
$color-primary-light: #5ea8f5;
$color-primary: #477EB0;
$color-primary-dark: #18447E;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;
$color-grey-light-3: #f4f4f4;

$color-grey-dark-1: #dae5ef;
$color-grey-dark-2: #c7d8ef;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

$default-font: 1.6rem;

//Profile image breakpoints
$bp-1000: 62.5em;
$bp-900: 56.25em;
$bp-800: 50em;
$bp-700: 43.75em;
$bp-650: 40.625em;
$bp-600: 37.5rem;
$bp-580: 36.25rem;
$bp-500: 31.25rem;
$bp-450: 28.125rem;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

.App {
    font-family: $font-primary;
    background-image: linear-gradient(to bottom right, $color-primary, $color-primary-dark);
    display: grid;
    grid-template-rows: minmax(min-content, 100vh);
    grid-template-columns: [page-start] 1fr repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) 1fr [page-end];
}

.main {
    grid-column: col-start 1 / col-end 8;

    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(8, 1fr);
    //background-color: #fff;
}

.details {
    grid-column: 3 / -1;
    grid-row: 2 / 10;
    background-color: #fff;

    display: grid;
    grid-template-rows: repeat(8, 1fr);
    grid-template-columns: repeat(6, 1fr);

    @media screen and (max-width: $bp-700) {
        grid-column: 1 / -1;
    }
}