@import './base';
.contact {
    grid-row: 2 / span 4;
    grid-column: 2 / span 4;

    @media screen and (max-width: $bp-600) {
        grid-row: 1 / -1;
        grid-column: 1 / -1;

        padding: 3rem;
    }

    &__detail {
        font-size: 2rem;
        margin-bottom: 3rem;
        color: $color-primary-dark;
        text-align: center;
        display: flex;
        align-items: center;

        @media screen and (max-width: $bp-600) {
            font-size: 1.6rem;
        }

        &--icon {
            height: 1.75rem;
            width: 1.75rem;
            margin-right: 2rem;
            fill: currentColor;
            animation: .8s infinite beat;
        }
    }
}

@keyframes beat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
}