@import './base';
.Footer {
    grid-row: 10;
    grid-column: 1 / -1;
    font-size: 1.4rem;
    color: white;

    display: flex;
    //flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 2px;

    @media screen and (max-width: $bp-700) {
        font-size: 1.2rem;
    }
}

.FooterLink:link,
.FooterLink:visited
 {
    display: inline-block;
    text-decoration: none;
    color: white;
    margin: 0 .6rem;
}